<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>GhostNet</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

  </head>
  <body>
      
              
      
      <!-- Nav Starts Here -->
      
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img class="mb-4" src="{{ url_for('static', filename='images/logo-signin.png') }}" alt="GhostNet" title="GhostNet" />
            GhostNet</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
            
			<li><a href="{{ url_for('camerasurvillance') }}">Camera</a></li>
            <li><a href="{{ url_for('addvideo') }}">Video</a></li>
          </ul>
            
            <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
            
        </div><!--/.nav-collapse -->
      </div>
    </nav> <!-- Nav Ends Here -->
      
      
      <div class="container" style="margin-top:55px;">
        <h1>Dashboard</h1>
          
         <div class="table-responsive mCustomScrollbar scroll" data-mcs-theme="dark">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>File Name</th>
                  <th>Time &amp; Date</th>
                  <th>Actions</th>
                  
                </tr>
              </thead>
              <tbody>
            {% for row in rows %}
                <tr>
                  <td>{{row[0]}}</td>
                  <td><a href="{{ url_for('list_vids', vid_id=row[0]) }}">{{row[1]}}</a></td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  
                </tr>
                  {% endfor %}
              </tbody>
            
            </table>
          </div> 
          
        </div> <!-- container -->  
      
      
      <footer class="footer">
      <div class="container">
        <span class="text-muted">&copy; GhostNet 2020. All Rights Reserved.</span>
      </div>
    </footer>
      
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
    <script>
      (function($){
          $(window).on("load",function(){
              $(".content").mCustomScrollbar();
          });
      })(jQuery);
  </script>
  </body>
</html>